    <!--START: LeadCopy + Order Btn-->
    <tr>
      <td width="700" align="center" valign="top" bgcolor="#FFFFFF"
        style="padding:45px 0px 12px; color:#3481FF; font-family:Roboto, 'Times New Roman', Times, serif; font-size:36px; line-height:52px; font-style:regular; font-weight:bold;">



    </tr>



    <!--START: Footer-->
    <!--START: Social-->
    <tr>
      <td width="700" align="center" bgcolor="#F8F9FC" style="padding:63px 0px 45px;">
        <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="50"
                height="1" style="display:block;" border="0" alt=""></td>
            <td width="274" height="50"><img
                src="http://images.proflowers.com/rtimages/Other/Transactional/keep_in_touch.jpg" width="274"
                height="50" border="0" style="display:block;" alt="Follow us"></td>
            <td width="50" height="50"><a data-crdl-variant="" target="_blank"
                href="https://www.facebook.com/worldcare.vn"><img
                  src="http://images.proflowers.com/rtimages/Other/Transactional/icon_FB.jpg" width="50" height="50"
                  border="0" style="display:block;" alt=""></a></td>
            <td width="42" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="42"
                height="1" style="display:block;" border="0" alt=""></td>
            <td width="50" height="50"><a data-crdl-variant="" target="_blank"
                href="https://www.instagram.com/worldcare.vn/"><img src="https://i.postimg.cc/kGVxyK2B/5.png" width="50"
                  height="50" border="0" style="display:block;" alt="Twitter"></a></td>
            <td width="42" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="42"
                height="1" style="display:block;" border="0" alt=""></td>
            <td width="50" height="50"><a data-crdl-variant="" target="_blank"
                href="https://www.youtube.com/channel/UCpaZtUGP-uLsVnnLhl78NAA/"><img
                  src="https://i.postimg.cc/fy6Yqyd5/6.png" width="50" height="50" border="0" style="display:block;"
                  alt="Pinterest"></a></td>
            <td width="42" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="42"
                height="1" style="display:block;" border="0" alt=""></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="700" align="center" bgcolor="#F8F9FC">
        <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="50"
                height="1" style="display:block;" border="0" alt=""></td>
            <td width="600" height="1" bgcolor="#F8F9FC" style="font-size: 1px; line-height:1px;"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="600"
                height="1" style="display:block; font-size: 1px; line-height:1px;" border="0" alt=""></td>
            <td width="50" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="50"
                height="1" style="display:block;" border="0" alt=""></td>
          </tr>
        </table>
      </td>
    </tr>
    <!--END: Social-->
    <!--START: Contact Us-->
    <tr>
      <td width="700" height="116" align="center" valign="middle" bgcolor="#F8F9FC"
        style="color:#211F78; font-family:roboto, Helvetica, sans-serif; font-size:16px; line-height:22px;">Thông tin
        liên hệ<br>
        Website: <span style="color:#211F78;">worldcare.vn <br>
          Trung tâm CSKH: <span style="color:#211F78;">0912 747 362</span><br>
          Email: <a href="mailto:info.worldcare.vn@gmail.com" data-crdl-notrack="true" target="_blank"
            style="color:#3481FF; text-decoration:none;"><span
              style="color:#211F78;">info.worldcare.vn@gmail.com</span></a>
      </td>
    </tr>
    <!--END: Contact Us-->
    <!--START: Disclaimer-->
    <tr>
      <td width="700" align="center" bgcolor="#F8F9FC">
        <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50" height="78"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="50"
                height="78" style="display:block;" border="0" alt=""></td>
            <td width="600" height="78" align="left" valign="top" id="context-footer"
              style="color:#a29d9c; font-family:roboto, Helvetica, sans-serif; font-size:10px; line-height:12px;">Cảm ơn
              bạn đã tin tưởng và dành thời gian cho WorldCareVN. Chúng tôi luôn hết mình vì bạn và những người thân yêu
              xung quanh bạn. Nếu có bất cứ trở ngại gì, bạn hãy liên hệ với chúng tôi, WorldCareVN hoạt động 24/7 và
              luôn hỗ trợ mọi nơi mọi lúc.<br><a href="https://worldcare.vn/chinh-sach" data-crdl-notrack="true"
                target="_blank" style="color:#a29d9c;"><span style="color:#a29d9c;">Câu hỏi</span></a> | <a
                data-crdl-variant="" target="_blank" style="color:#a29d9c;" href="https://worldcare.vn/chinh-sach"><span
                  style="color:#a29d9c;">Chính sách</span></a> | <a data-crdl-variant="" target="_blank"
                style="color:#a29d9c;" href="http://www.ftdcompanies.com/terms"><span
                  style="color:#a29d9c;"></a><br><br>
              Địa chỉ liên hệ: 224 Nguyễn Phước Lan, P. Hoà Xuân, Q. Cẩm Lệ, TP. Đà Nẵng <br><br><br>
            </td>
            <td width="50" height="78"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="50"
                height="78" style="display:block;" border="0" alt=""></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <img src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="200" height="1"
    style="display:block;" border="0" alt="">

</body>

</html>
