<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    body{
      font-size: 16px;
    }
    .b1 {
      text-align: center;
      font-family: "Roboto", Helvetica, sans-serif;
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 50px;
      ;
      color: #999999;
    }

    .b1 span {
      font-weight: bold;
    }

    .b1 tr td:nth-child(3) {
      color: #3481FF;
    }
  </style>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
  style="-webkit-font-smoothing: antialiased; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none;">
  <table width="700" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
    <!--START: Header PF-->
    <tr>
      <td width="700" align="center" bgcolor="D6ECFF">
        <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="213" height="1"><img
                src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="213"
                height="1" style="display:block;" border="0" alt=""></td>
            <td width="300" height="96">
              <a data-crdl-variant="" target="_blank" href="https://worldcare.vn/"><img
                  src="https://i.postimg.cc/C1hj3V2S/Logo-World-Care-V2-1904.png" width="153" height="35" border="0"
                  style="display:block;"></a>
            </td>
            <td width="127" valign="top">
              <table width="127" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="127" height="18"><img
                      src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif"
                      width="127" height="18" style="display:block;" border="0" alt=""></td>
                </tr>
                <tr>
                  <td width="127" height="78" align="right" valign="top"
                    style="color:#211F78; font-family:roboto, Helvetica, sans-serif; font-size:14px; line-height:16px; font-weight:bold;">
                    <span style="font-size:12px;">HOTLINE</span>
                    <br>0912.747.362
                  </td>
                </tr>
              </table>
            </td>
            <td width="60" valign="top">
              <table width="60" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="60" height="17"><img
                      src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif"
                      width="60" height="17" style="display:block;" border="0" alt=""></td>
                </tr>
                <tr>
                  <td width="60">
                    <table width="60" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="13" height="1"><img
                            src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif"
                            width="13" height="1" style="display:block;" border="0" alt=""></td>
                        <td width="29" height="29"><img src="https://i.postimg.cc/gJhTqmsW/Untitled-1.png" width="29"
                            height="29" border="0" style="display:block;" alt=""></td>
                        <td width="18" height="1"><img
                            src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif"
                            width="18" height="1" style="display:block;" border="0" alt=""></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td width="60" height="50"><img
                      src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif"
                      width="60" height="50" style="display:block;" border="0" alt=""></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!--END: Header PF-->
    <!--START: Nav-->
    <tr style="lineheight:1px; font-size:1px;">
      <td width="700" align="center" height="1" bgcolor="3481FF" style="lineheight:1px; font-size:1px;"><img
          src="http://images.proflowers.com/rtimages/ProFlowers/template/Shared/1pxTransparent.gif" width="700"
          height="1" style="display:block;" border="0" alt=""></td>
    </tr>
    <tr>
      <td width="700" height="43" align="center" valign="middle" bgcolor="3481FF"
        style="color:#ffffff; font-family:roboto, Helvetica, sans-serif; font-size:14px;">
        <a data-crdl-variant="" target="_blank" style="color:#ffffff; text-decoration:none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha"><span style="color:#ffffff;">Chăm sóc sức khỏe tại
            nhà</span></a> <span style="font-size:18px;">|</span> <a data-crdl-variant="" target="_blank"
          style="color:#ffffff; text-decoration:none;" href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha"><span
            style="color:#ffffff;">Tận tình - Chu đáo</span></a> <span style="font-size:18px;">|</span> <a
          data-crdl-variant="" target="_blank" style="color:#ffffff; text-decoration:none;"
          href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha"><span style="color:#ffffff;">Cán bộ chuyên môn
            cao</span></a> <span style="font-size:18px;">|</span> <a data-crdl-variant="" target="_blank"
          style="color:#ffffff; text-decoration:none;" href="https://worldcare.vn/cham-soc-suc-khoe-tai-nha"><span
            style="color:#ffffff;"> Dày dặn kinh nghiệm </span></a>
      </td>
    </tr>
    <!--END: Nav-->