{{> header}}
    <head>
      <title>{{title}}</title>
  <style>
    .mail-body {
      margin: 20px 0;
      font-size: 16px;
    }
  </style>
</head>
<tr>
  <td>
    <div class="mail-body">
      <p>Dear Admin</p>
      <p>WorldHealth trân trọng thông báo: Đối tác {{ name }} vừa cập nhật thời gian làm việc</p>
      <p>Nếu có bất kỳ sự thay đổi nào về tài khoản, Ông/Bà vui lòng liên hệ qua hotline: 0912 747 362 để được Admin hỗ trợ.</p>
      <p><i>Trân trọng.</i></p>
    </div>
  </td>
</tr>
{{> footer}}